@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-secondary: #F97316;
  --color-surface: #FFFFFF;
  --color-background: #F3F4F6;
  --color-accent: #EF4444;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-gray-800);
  }
}